{% extends 'base.html' %}

{% block title %}Entradas{% endblock title %}

{% block content %}
<a href="{% url 'entradas:nova_entrada' %}">Nova Entrada</a>

<table id="table_id" class="table">
    <thead>
        <tr>
            <td>Produto</td>
            <td>Quantidade</td>
            <td>Preço</td>
            <td>Quantidade Total</td>
            <td>Modificado</td>
            <td>Ações</td>


        </tr>

    </thead>
    <tbody>
        {% for entrada in entradas %}
        <tr>
            <td>{{ entrada.produto.nome }}</td>
            <td>{{ entrada.quantidade }}</td>
            <td>{{ entrada.preco }}</td>
            <td>{{ entrada.produto.quantidade }}</td>
            <td>{{ entrada.modificado }}</td>
            <td>


                <a href="{% url 'entradas:deleta_entrada' entrada.pk %}">deletar</a>


                <a href="{% url 'produtos:alterar_produto' entrada.pk %}">Alterar</a>

            </td>

        </tr>

        {% endfor %}



    </tbody>

</table>

<a href="{% url 'entradas:index' %}">Voltar</a>





{% endblock content %}


{% block js %}
<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>
{% endblock js %}