{% extends 'saidas/index.html' %}


{% block title %}Saidas{% endblock title %}


{% block content %}
<a href="{% url 'saidas:nova_saida' %}">Nova Saida</a>

<table id="saidas_table" class="table display">
    <thead>
        <tr>
            <td>Modificado</td>
            <td>Produto</td>
            <td>Quantidade</td>
            <td>Preço</td>
            <td>Quantidade Restante</td>
            <td>Ação</td>

        </tr>

    </thead>
    <tbody>
        {% for saida in saidas %}
        <tr>
            <td>{{ saida.modificado }}</td>
            <td>{{ saida.produto.nome }}</td>
            <td>{{ saida.quantidade }}</td>
            <td>{{ saida.preco }}</td>
            <td>{{ saida.produto.quantidade }}</td>
            <td><a href="{% url 'saidas:deleta_saida' saida.pk %}">deletar</a></td>
        </tr>

        {% endfor %}
    </tbody>
</table>
<a href="{% url 'saidas:index' %}">Voltar</a>
{% endblock content %}


{% block js %}
<script>
    $(document).ready(function () {
        $('#saidas_table').DataTable();
    });
</script>
{% endblock js %}